
.product_item {
    cursor: pointer;
    border: 1px solid #00000060;
    border-radius: 30px;
    background-color: white;
}

.product_info h3 a{
    font-size: 1.2rem ;
    color: var(--primary-color);
    font-weight: 600;
    margin-top: 15px;
}

.product_info a:hover {
    color: inherit;
}

.product_info span {
    font-size: 0.9rem;
}

.product_card-button .price {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 500;
}


.product_img img {
    border-radius: 30px;
}

