/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');


/*  css variables */
:root {
  --card-bg-01: #deefe7de;

  --primary-color: #002333;
  --hero-bg: #DEEFE7;
  --heading-fontSize: 2rem;
  --small-text-color: #DEEFE7;
  --heading-text-color: #5A66FF;
}

/* reset browser default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

p {
  color: var(--small-text-color);
  font-size: 1rem;
}

h1,
h2 {
  font-size: var(--heading-fontSize);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  width: 100%;
}

section {
  padding: 60px 0px;
}

.section_title {
  color: var(--primary-color);
  font-weight: 700;
}
